<div class="row">
  <div class="col-12">
    <h1>List of Products</h1>
    <a class="btn btn-link" routerLink="/product/create">Add Product</a>
  </div>
</div>
<div class="row">
  <div class="col-3 mb-4" *ngFor="let product of products">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Available in {{product.variants.length}} variants</h6>
        <p class="card-text">{{product.description}}</p>
        <a routerLink="/product/view/{{product.id}}" class="card-link">Details</a>
        <button class="btn btn-danger float-right" (click)="onDelete(product.id)">Delete</button>
      </div>
      <ul class="list-group list-group-flush" *ngIf="product.variants && product.variants.length">
        <li class="list-group-item" *ngFor="let variant of product.variants">
          Color: <strong>{{variant.color}}</strong> - Price: <strong>${{variant.price}}</strong>
        </li>
      </ul>
    </div>
  </div>
</div>